<nav class="navbar navbar-expand-lg main-nav px-0" style="margin-top: -30px;">
    <a class="navbar-brand" href="/" style="padding-top: 15px;">
                     <div style=" font-size: 40px; display: flex;">
                         <p class="text-white"> Game </p>
                         <p style="color: #ffc632;"> Town</p>
                    </div>
                    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" 
    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar icon-bar-1"></span>
                    <span class="icon-bar icon-bar-2"></span>
                    <span class="icon-bar icon-bar-3"></span>
                </button>
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ml-auto text-uppercase f1" style="justify-content: center;">
        <li>
          <a href="/users/signin">sign in</a>
        </li>
        <li>
          <div class="dropdown" style="margin-top: -5px;">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
            Categories
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" href="/games">Games</a>
               <a class="dropdown-item" href="/consoles">Console</a>
               <a class="dropdown-item" href="/accessories">Accessories</a>
            </div>
         </div>
        </li>
        <li>
          <a href="/about-us">about us</a>
        </li>
        <li>
          <a href="/contact">sign-up</a>
        </li>
      </ul>
    </div>
  </nav>